h1 {
	text-align: center;
	font-family: Verdana;
	font-size: 3em;
}

table {
	margin: 0 auto;
}

table, td {
	border: 1px solid black;
}


td {
	width: 1.5em;
	height: 1.5em;
}

.alive {
	background-color: green;
}

p {
	font-size: 2em;
	text-align: center;
}

button {
	margin-right: 0.5em;
}

#controls {
	margin-top: 2em;
	text-align: center;
}

